# backend
/backend/db.sqlite3
/backend/backend/__pycache__/*
/backend/api/__pycache__/*

# frontend

/frontend/.DS_Store
/frontend/node_modules
/frontend/dist

/frontend/tests/e2e/videos/
/frontend/tests/e2e/screenshots/

# Python env
env

# local env files
/frontend/.env.local
/frontend/.env.*.local

# Log files
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*

# Editor directories and files
.env
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
